{{#each this}}
    <tr>
        <td>12312312{{rowId}}</td>
        <td>{{materialNo}}</td>
        <td>{{barcode}}</td>
        <td>{{materialDesp}}</td>
        <td>{{stoNo}}</td>
        <td>{{createBy}}</td>
    </tr>
  {{/each}}